html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: 2px dotted var(--clr-link);
  outline-offset: 2px;
}

:root {
  --clr-light: #fff;
  --clr-link: #165ee4;
  --clr-link-hover: #5289ee;
  --font-family-primary: 'Josefin Sans', sans-serif;
  --border-radius: 5px;
  --clr-text: hsl(235, 16%, 43%);
  --clr-text-active: hsl(234, 39%, 85%);
  --clr-text-active-hover: hsl(236, 33%, 92%);
  --clr-text-done: hsl(233, 14%, 35%);
  --clr-element: hsl(235, 24%, 19%);
  --clr-bg: hsl(235, 21%, 11%);
  --clr-border: #393a4b;
  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  --body-mobile-bg-image: url(../images/bg-mobile-dark.jpg);
  --body-desktop-bg-image: url(../images/bg-desktop-dark.jpg);
  --gradient-primary: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --clr-very-dark-grayish-blue: hsl(237, 14%, 26%);
}

.light-mode {
  --clr-text: hsl(236, 9%, 61%);
  --clr-text-active: hsl(235, 19%, 35%);
  --clr-text-active-hover: hsl(236, 26%, 22%);
  --clr-text-done: hsl(233, 11%, 84%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 98%);
  --clr-border: #e3e4f1;
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  --body-mobile-bg-image: url(../images/bg-mobile-light.jpg);
  --body-desktop-bg-image: url(../images/bg-desktop-light.jpg);
}

body {
  padding: 4.8rem 2.8rem 0;
  min-height: 100vh;
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

@media (min-width: 375px) {
  body {
    padding-top: 7rem;
    font-size: 1.8rem;
  }
}

body:before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-image: var(--body-mobile-bg-image);
}

@media (min-width: 375px) {
  body:before {
    height: 30rem;
    background-image: var(--body-desktop-bg-image);
    background-size: cover;
    background-position: center;
  }
}

body .icon--dark-mode {
  display: none;
}

body.light-mode .icon--dark-mode {
  display: block;
}

body.light-mode .icon--light-mode {
  display: none;
}

/* accessibility */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  white-space: nowrap;
  overflow: hidden;
}

.btn {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
  border: 0;
  -webkit-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

@media (min-width: 375px) {
  .btn {
    font-size: 1.4rem;
  }
}

.btn:hover {
  color: var(--clr-text-active);
}

.btn--light {
  color: var(--clr-light);
}

.btn--delete svg path {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn--delete:hover svg path {
  fill: var(--clr-text-active);
}

.btn--filter:not(:last-child) {
  margin-right: 1rem;
}

.btn--filter.is-active {
  color: var(--clr-link);
}

.circle, .todo-list__input-wrapper:before, .todo__item .fake-checkbox {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--clr-border);
  border-radius: 50%;
}

.container {
  max-width: 54rem;
  margin: 0 auto;
}

.header__container {
  margin-bottom: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 375px) {
  .header__container {
    margin-bottom: 4.8rem;
  }
}

.header__title {
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 1.5rem;
  color: var(--clr-light);
}

@media (min-width: 375px) {
  .header__title {
    font-size: 4rem;
  }
}

.todo-list {
  margin-bottom: 9.6rem;
}

.todo-list__input-wrapper {
  position: relative;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

@media (min-width: 375px) {
  .todo-list__input-wrapper {
    margin-bottom: 2.4rem;
  }
}

.todo-list__input-wrapper:before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2.4rem;
}

.todo-list__input {
  width: 100%;
  height: 4.8rem;
  padding-left: 7.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-text-active);
  background-color: var(--clr-element);
  border-radius: var(--border-radius);
  border: none;
  caret-color: var(--clr-link);
}

@media (min-width: 500px) {
  .todo-list__input {
    height: 6.4rem;
    font-size: 1.8rem;
  }
}

.todo-list__input::-webkit-input-placeholder {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--clr-text-done);
}

.todo-list__input:-ms-input-placeholder {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--clr-text-done);
}

.todo-list__input::-ms-input-placeholder {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--clr-text-done);
}

.todo-list__input::placeholder {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--clr-text-done);
}

@media (min-width: 500px) {
  .todo-list__input::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  .todo-list__input:-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .todo-list__input::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  .todo-list__input::placeholder {
    font-size: 1.8rem;
  }
}

.todo-list__container > ul {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}

.todo-list__footer {
  position: relative;
  width: 100%;
  height: 5.2rem;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--clr-text-active-active);
  background-color: var(--clr-element);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 375px) {
  .todo-list__footer {
    font-size: 1.4rem;
  }
}

.todo-list__filters {
  position: absolute;
  top: 6.4rem;
  left: 0;
  width: 100%;
  height: 4.8rem;
  background-color: var(--clr-element);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .todo-list__filters {
    position: initial;
    width: initial;
    height: initial;
    background: initial;
    border-radius: initial;
  }
}

.todo-list__filters .btn {
  font-weight: bold;
  font-size: 1.4rem;
}

.todo__item {
  width: 100%;
  height: 5.2rem;
  padding: 0 2.4rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--clr-text-active-active);
  background-color: var(--clr-element);
  border-bottom: 1px solid var(--clr-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .todo__item {
    height: 6.4rem;
    font-size: 1.8rem;
  }
}

.todo__item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  cursor: pointer;
}

.todo__item__name {
  color: var(--clr-text-active);
  position: relative;
}

.todo__item .checkbox:checked + .fake-checkbox-wrapper > .fake-checkbox {
  background: var(--gradient-primary);
}

.todo__item .checkbox:checked + .fake-checkbox-wrapper > .fake-checkbox svg {
  opacity: 1;
}

.todo__item .checkbox:checked ~ .todo__item__name {
  color: var(--clr-text-done);
}

.todo__item .checkbox:checked ~ .todo__item__name:before {
  position: absolute;
  content: '';
  top: 48%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-text-done);
}

.todo__item .fake-checkbox-wrapper {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 2.4rem;
}

.todo__item .fake-checkbox {
  position: absolute;
  background: var(--clr-element);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__item .fake-checkbox svg {
  opacity: 0;
}

.todo__note {
  text-align: center;
  font-size: 1.4rem;
}

.footer {
  margin-top: 3rem;
  padding-bottom: 50px;
}

.footer .attribution {
  font-size: 11px;
  text-align: center;
}

.footer .attribution a {
  color: var(--clr-link);
}
/*# sourceMappingURL=app.css.map */
